<h2>Servizio citazioni</h2>
<form method='get' action='.'>
  Cerca: <input type='text' name='q' value='<%= params['q'] %>' />
</form>
<div>
<%= quote %>
</div>
<p><%= author %></p>    
<p>
  <a href="/quotes/new">Aggiungi nuova</a> | <a href="/quotes/list">Tutte le citazioni</a>
</p>
